In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import datetime

In [30]:
observations = pd.read_csv("../inputData/observations.csv")
observations.head(10)

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,8310-5,Body temperature,41.5,Cel,numeric
1,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,9279-1,Respiratory rate,27.3,/min,numeric
2,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,8867-4,Heart rate,123.8,/min,numeric
3,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,2708-6,Oxygen saturation in Arterial blood,86.2,%,numeric
4,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,8462-4,Diastolic Blood Pressure,86.0,mm[Hg],numeric
5,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,8480-6,Systolic Blood Pressure,114.0,mm[Hg],numeric
6,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,29463-7,Body Weight,77.5,kg,numeric
7,2020-03-05T05:36:30Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,80382-5,Influenza virus A Ag [Presence] in Nasopharynx...,Not detected (qualifier value),NaN,text
8,2020-03-05T05:36:30Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,80383-3,Influenza virus B Ag [Presence] in Nasopharynx...,Not detected (qualifier value),NaN,text
9,2020-03-05T06:54:38Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,94531-1,SARS-CoV-2 RNA Pnl Resp NAA+probe,Detected (qualifier value),NaN,text

In [4]:
n = len(pd.unique(observations['PATIENT']))
n

1046

In [28]:
observations.isnull().sum()

DATE               0
PATIENT            0
ENCOUNTER      29862
CODE               0
DESCRIPTION        0
VALUE              0
UNITS           4510
TYPE               0
dtype: int64

In [15]:
observations['CODE'].value_counts().head(10)

QALY       9954
DALY       9954
QOLS       9954
2708-6     3187
8310-5     2679
8462-4     2461
8480-6     2461
9279-1     2461
29463-7    2461
8867-4     2461
Name: CODE, dtype: int64

In [33]:
keepCodes = ['8310-5', '9279-1', '8867-4', '2708-6', '8462-4', '8480-6', '29463-7']
clean = observations.loc[observations['CODE'].isin(keepCodes)]
clean

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,8310-5,Body temperature,41.5,Cel,numeric
1,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,9279-1,Respiratory rate,27.3,/min,numeric
2,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,8867-4,Heart rate,123.8,/min,numeric
3,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,2708-6,Oxygen saturation in Arterial blood,86.2,%,numeric
4,2020-03-05T05:21:41Z,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,0d3d5e03-fcba-20fe-ee53-298bbe0e230b,8462-4,Diastolic Blood Pressure,86.0,mm[Hg],numeric
...,...,...,...,...,...,...,...,...
117404,2020-03-11T14:21:13Z,a6f234b3-34b4-1acb-7560-34005d1519d0,51f32c6c-4f57-7fc8-04e3-d422e296fbde,8867-4,Heart rate,187.9,/min,numeric
117405,2020-03-11T14:21:13Z,a6f234b3-34b4-1acb-7560-34005d1519d0,51f32c6c-4f57-7fc8-04e3-d422e296fbde,2708-6,Oxygen saturation in Arterial blood,76.0,%,numeric
117406,2020-03-11T14:21:13Z,a6f234b3-34b4-1acb-7560-34005d1519d0,51f32c6c-4f57-7fc8-04e3-d422e296fbde,8462-4,Diastolic Blood Pressure,78.0,mm[Hg],numeric
117407,2020-03-11T14:21:13Z,a6f234b3-34b4-1acb-7560-34005d1519d0,51f32c6c-4f57-7fc8-04e3-d422e296fbde,8480-6,Systolic Blood Pressure,108.0,mm[Hg],numeric
117408,2020-03-11T14:21:13Z,a6f234b3-34b4-1acb-7560-34005d1519d0,51f32c6c-4f57-7fc8-04e3-d422e296fbde,29463-7,Body Weight,97.0,kg,numeric

In [34]:
clean = clean.drop(['DATE', 'ENCOUNTER'], axis=1)
clean

,PATIENT,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,8310-5,Body temperature,41.5,Cel,numeric
1,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,9279-1,Respiratory rate,27.3,/min,numeric
2,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,8867-4,Heart rate,123.8,/min,numeric
3,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,2708-6,Oxygen saturation in Arterial blood,86.2,%,numeric
4,92a8c64e-8cd4-fe5d-ba9a-7da402646cf0,8462-4,Diastolic Blood Pressure,86.0,mm[Hg],numeric
...,...,...,...,...,...,...
117404,a6f234b3-34b4-1acb-7560-34005d1519d0,8867-4,Heart rate,187.9,/min,numeric
117405,a6f234b3-34b4-1acb-7560-34005d1519d0,2708-6,Oxygen saturation in Arterial blood,76.0,%,numeric
117406,a6f234b3-34b4-1acb-7560-34005d1519d0,8462-4,Diastolic Blood Pressure,78.0,mm[Hg],numeric
117407,a6f234b3-34b4-1acb-7560-34005d1519d0,8480-6,Systolic Blood Pressure,108.0,mm[Hg],numeric
117408,a6f234b3-34b4-1acb-7560-34005d1519d0,29463-7,Body Weight,97.0,kg,numeric

In [35]:
len(pd.unique(clean['TYPE']))
len(pd.unique(clean['UNITS']))

5